<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/jq-3.2.1/dt-1.10.16/datatables.min.css" />
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>

<body>
  <center>
    <h1>GPU resources on Telenor001</h1>
  </center>
  <div class="container">
    <div class="row">
      <div class="col">
        <center>
          <h3>GPU utilization</h3>
        </center>
        <table class="table">
          <thead>
            <tr>
              <th>Device</th>
              <th>Usage</th>
            </tr>
          </thead>
          <tbody>
            {% for d in statistics["gpu_usage"] %}
              <tr>
                <td>{{loop.index - 1 }}</td>
                <td>{{d}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <center>
          <h3>Users in Massimiliano's group</h3>
        </center>
        <table class="table" id="massitable">
          <thead>
            <tr>
              <th>Username</th>
              <th>GPU</th>
              <th>Memory usage</th>
              <th>Runtime</th>
            </tr>
          </thead>
          <tbody>
            {% for d in statistics["massi_data"] %}
              <tr>
                <td>{{d["user"]}}</td>
                <td>{{d["device"]}}</td>
                <td>{{d["mem"]}}</td>
                <td>{{d["runtime"]}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <center>
          <h3>Users in Keith's group</h3>
        </center>
        <table class="table" id="keithtable">
          <thead>
            <tr>
              <th>Username</th>
              <th>GPU</th>
              <th>Memory usage</th>
              <th>Runtime</th>
            </tr>
          </thead>
          <tbody>
            {% for d in statistics["keith_data"] %}
              <tr>
                <td>{{d["user"]}}</td>
                <td>{{d["device"]}}</td>
                <td>{{d["mem"]}}</td>
                <td>{{d["runtime"]}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <center>
          <h3>Other users </h3>
        </center>
        <table class="table" id="othertable">
          <thead>
            <tr>
              <th>Username</th>
              <th>GPU</th>
              <th>Memory usage</th>
              <th>Runtime</th>
            </tr>
          </thead>
          <tbody>
            {% for d in statistics["other_data"] %}
              <tr>
                <td>{{d["user"]}}</td>
                <td>{{d["device"]}}</td>
                <td>{{d["mem"]}}</td>
                <td>{{d["runtime"]}}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <canvas id="hourchart" ></canvas>
    </div>
  </div>

  <div class="row">
      <div class="col">
        <canvas id="weekchart" ></canvas>
      </div>
  </div>
</div>

  <script>
    let tableOptions = {
      "paging": false,
      "info": false,
      "searching": false
    };

    $(document).ready(function() {
      $('#massitable').DataTable(tableOptions);
      $('#keithtable').DataTable(tableOptions);
      $('#othertable').DataTable(tableOptions);
    });

    var ctx = document.getElementById("hourchart").getContext('2d');
    var myChart = new Chart(ctx, {
        data: {
          type: 'bubble',
            labels: Array.from(Array(24).keys()),
            datasets: [
              {
                  type: 'line',
                  label: 'Device 0 - last 24 hours',
                  data : [
                    {% for item in statistics["d0_lastday_hour_average"] %}
                      {{item}},
                    {% endfor %}
                  ],
                  backgroundColor: "#FE6584",
                  borderColor: "#FE6584",
                  borderWidth: 1,
                  fill: false
              }, {
                  type: 'line',
                  label: 'Device 1 - last 24 hours',
                  data : [
                    {% for item in statistics["d1_lastday_hour_average"] %}
                      {{item}},
                    {% endfor %}
                  ],
                  backgroundColor: "#38A2E7",
                  borderColor: "#38A2E7",
                  borderWidth: 1,
                  fill: false
              }, {
                type: 'line',
                label: 'Device 0 - total',
                data : [
                  {% for item in statistics["d0_hour_average"] %}
                    {{item}},
                  {% endfor %}
                ],
                pointRadius: 5,
                pointStyle: 'triangle',
                borderWidth: 1,
                fill: false,
            }, {
                type: 'line',
                label: 'Device 1 - total',
                data : [
                  {% for item in statistics["d1_hour_average"] %}
                    {{item}},
                  {% endfor %}
                ],
                borderWidth: 1,
                fill: false,
                pointStyle: 'rect',
                pointRadius: 5
            },
          ]
        },
        options: {
          legend: {
            labels: {
              usePointStyle: true
            }
          },title: {
            display:true,
            text:'Average each hour'
          },
          spanGaps: false,
          responsive: true,
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Hour'
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: '% Usage'
              }
            }]
          }
        }
    });

    var ctx = document.getElementById("weekchart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
            datasets: [{
                label: 'Device 0',
                data : [
                  {% for item in statistics["d0_weekday_average"] %}
                    {{item}},
                  {% endfor %}
                ],
                backgroundColor: "#FE6584",
                borderColor: "#FE6584",
                borderWidth: 1,
                fill: false
            }, {
              label: 'Device 1',
              data : [
                {% for item in statistics["d1_weekday_average"] %}
                  {{item}},
                {% endfor %}
              ],
              backgroundColor: "#38A2E7",
              borderColor: "#38A2E7",
              borderWidth: 1,
              fill: false
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Average each day'
          },
          spanGaps: false,
          responsive: true,
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Weekday'
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: '% Usage'
              }
            }]
          }
        }
    });

  </script>
</body>

</html>
